.navbar {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  background: #171a21;
  &__links {
    display: flex;
    align-items: center;
    height: 100%;
    div {
      margin: 0 30px;
      height: 100%;
      line-height: 80px;
      .active {
        color: white;
        text-decoration: underline;
      }
      a {
        color: #c4c2bf;
      }
      a:hover {
        color: white;
      }
    }
  }
  &__profile {
    padding-left: 30px;
    align-items: center;
    flex-direction: row-reverse;
    display: flex;
    color: #c4c2bf;
    p {
      width: 100%;
    }
    p:hover {
      color: white;
    }
    img {
      margin-left: 15px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 30px;
      border: 1px solid #c4c2bf;
    }
  }
  .active {
    color: white;
    text-decoration: underline;
  }
}
